/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

conda.enabled = false
apptainer.enabled = true
apptainer.autoMount = true
singularity.enabled = false
docker.enabled = false
